/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	.menu ul li a {
	  font-size: 20px;
      text-align: right;
      padding: 6px 0 !important;
	}
	/*header end*/
/*slider start*/
.slider {
    padding-bottom: 40px;
}
	.s-text h1 {
		font-size: 26px;
        margin-top: 20px !important;
}
.s-text h2 {
    padding-right: 60px;
}
.icon_text ul li i {
    margin: 9px 15px;
    font-size: 30px;

}
.cid {
    bottom: -45px;
}
.cid [data-bs-target] {
    width: 10px;
    height: 10px;
}
/*slider end*/
/*featurs start*/
.featurs {
    padding-top: 50px !important;
    padding-bottom:70px !important;
}
.c-h1 {
    margin-bottom: 5px;
    font-size: 25px;
}
.c-text {
    font-size: 16px;
    margin-bottom: 0;
}
.f-single {
    text-align: center;
}
.f-icon {
    margin-bottom: 8px;
}
.f-icon a i{
	font-size: 45px;
}
.f-text h2 {
    margin-bottom: 5px;
}
/*featurs end*/
/* contact start */
.contact {
    padding-top: 60px;
    padding-bottom: 80px;
}
.mtb-custom {
    margin-top: 35px !important;
    margin-bottom: 45px !important;
}
.c-email {
    height: 50px;
}
.s-b {
    height: 50px;
    font-size: 15px;
}
.c-social ul li{
    margin-right: 10px !important;
}
.c-social ul li a {
    width: 39px;
    height: 39px;
}
.c-social ul li a i {
    font-size: 30px;
}
/* contact end */
/*footer  start*/
footer {
    padding-bottom: 70px !important;
}
.f-1 {
   text-align: center;
}
.f-2 {
    text-align: center;
    margin-top: 15px;
}
/*footer  end*/


}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a {
	  font-size: 20px;
      text-align: right;
      padding: 6px 0 !important;
}
/*header end*/
/*slider start*/
.slider {
    padding-bottom: 70px;
}
.s-text h1 {
        margin-top: 20px !important;
}
.icon_text ul li i {
    margin: 25px 16px;
}
.cid {
    bottom: -45px;
}
.cid [data-bs-target] {
    width: 13px;
    height: 13px;
}
/*slider end*/
/*featurs start*/
.featurs {
    padding-top: 50px !important;
    padding-bottom: 70px !important;
}
.c-h1 {
    margin-bottom: 9px;
    font-size: 30px;
}
.c-text {
    font-size: 17px;
    margin-bottom: 0;
}
.f-single {
    margin-top: 30px;
    text-align: center;
}
.f-icon {
    margin-bottom: 8px;
}
.f-text h2 {
    margin-bottom: 5px;
}
/*featurs end*/
/* contact start */
.contact {
    padding-top: 80px;
    padding-bottom: 100px;
}
.mtb-custom {
    margin-top: 35px !important;
    margin-bottom: 45px !important;
}
.c-email {
    height: 50px;
}
.s-b {
    height: 50px;
    font-size: 15px;
}
.c-social ul li a {
    width: 45px;
    height: 45px;
}
.c-social ul li a i {
    font-size: 37px;
    margin-top: 4px;
}
/* contact end */
/*footer  start*/
.f-1 {
   text-align: center;
}
.f-2 {
    text-align: center;
    margin-top: 10px;
}
/*footer  end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a {
      text-align: right;
      padding: 6px 0 !important;
	}
	/*header end*/
	/*slider start*/
	.s-text h1 {
       margin-top: 50px;
}
.s-img img {
     width: 100%; 
}
/*slider end*/
}
/*featurs start*/
.featurs {
    padding-top: 80px;
    padding-bottom: 100px;
}
.f-single {
    margin-top: 40px;
}
/*featurs end*/
/* contact start */
.mtb-custom {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* contact end */
/*footer  start*/
footer {
    background-color: #010101;
    padding-bottom: 100px;
}
/*footer  end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	
}

/*X-Large devices (large desktop, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/*XX-Large devices (larger desktop, 1400px and up) */
@media (min-width: 1400px) {
	
}